/* ==================================
       TECH BACKGROUND ICONS
   ================================== */
.tech-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
    height: 100%;
}

.tech-icon {
    position: absolute;
    color: var(--muted);
    opacity: 0.08;
    /* Very faint */
    /* Very faint */
    /* animation: float-random 15s ease-in-out infinite alternate; <- Removing generic */
}


.dark-theme .tech-icon {
    opacity: 0.12;
    color: var(--accent);
}

/* Specific Positions & Sizes (Wave 1 - 0-100vh) */
.icon-code {
    width: 140px;
    height: 140px;
    top: 15vh;
    left: 8%;
    animation: float-1 18s ease-in-out infinite alternate;
}

.icon-terminal {
    width: 100px;
    height: 100px;
    top: 55vh;
    left: 4%;
    animation: float-2 16s ease-in-out infinite alternate;
}

.icon-cpu {
    width: 110px;
    height: 110px;
    top: 18vh;
    right: 12%;
    animation: float-2 20s ease-in-out infinite alternate;
}

.icon-git {
    width: 90px;
    height: 90px;
    top: 70vh;
    right: 6%;
    animation: float-1 19s ease-in-out infinite alternate;
}

.icon-database {
    width: 120px;
    height: 120px;
    top: 88vh;
    left: 25%;
    animation: float-3 22s ease-in-out infinite alternate;
}

.icon-hash {
    width: 80px;
    height: 80px;
    top: 40vh;
    right: 30%;
    opacity: 0.05;
    animation: float-3 25s ease-in-out infinite alternate;
}


/* Wave 2 (100vh - 200vh) */
.wave-2.icon-code {
    top: 115vh;
    left: 85%;
    animation-delay: -5s;
}

.wave-2.icon-terminal {
    top: 155vh;
    left: 80%;
    animation-delay: -2s;
}

.wave-2.icon-cpu {
    top: 118vh;
    right: auto;
    left: 10%;
    animation-delay: -8s;
}

.wave-2.icon-git {
    top: 170vh;
    right: auto;
    left: 15%;
    animation-delay: -3s;
}

.wave-2.icon-database {
    top: 188vh;
    left: 60%;
    animation-delay: -6s;
}

.wave-2.icon-hash {
    top: 140vh;
    right: auto;
    left: 40%;
    animation-delay: -1s;
}

/* Wave 3 (200vh - 300vh) */
.wave-3.icon-code {
    top: 215vh;
    left: 15%;
}

.wave-3.icon-terminal {
    top: 255vh;
    left: 10%;
}

.wave-3.icon-cpu {
    top: 218vh;
    right: 20%;
    left: auto;
}

.wave-3.icon-git {
    top: 270vh;
    right: 10%;
    left: auto;
}

.wave-3.icon-database {
    top: 288vh;
    left: 40%;
}

.wave-3.icon-hash {
    top: 240vh;
    right: 50%;
    left: auto;
}


@keyframes float-1 {
    0% {
        transform: translate(0, 0) rotate(-10deg);
    }

    50% {
        transform: translate(15px, -20px) rotate(-5deg);
    }

    100% {
        transform: translate(-5px, 10px) rotate(-12deg);
    }
}

@keyframes float-2 {
    0% {
        transform: translate(0, 0) rotate(10deg);
    }

    50% {
        transform: translate(-15px, 25px) rotate(15deg);
    }

    100% {
        transform: translate(10px, -10px) rotate(8deg);
    }
}

@keyframes float-3 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(10px, 15px) rotate(5deg);
    }

    100% {
        transform: translate(-10px, -5px) rotate(-3deg);
    }
}